
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');



html,body{
  padding: 0;
  margin: 0;
}

h1{
  padding: 0;
  margin: 0;
}

nav{
  margin: 24px;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

/* heading */

.heading{
  background-color: #062b4c;
  padding: 16px;
  color: 	white;
  font-family: 'Poppins', sans-serif;
}

/* main content */
.singer-name {
  width: 2rem;
  margin: 1rem 1.4rem;
  /* background-color:	#ab99e0; */
  background-color: #952550;
  color: white;
  border-radius: 4px;
  transition: 0.2s ease-in;
  font-weight: bold ;
  border: 1px solid lightgray;

}

.singer-name:hover {
  border: 2px solid blueviolet;
  background-color:	#d8e6ad ;
  color: black;
  transition: 0.2s ease-out;
}

.info{
  color: #27408b;
}

.highlight{
  color: red;
}

/* songs list */

.song-container{
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.song-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  margin: 1rem;
  text-decoration:none;

}

.song-details img{
  width: 250px;
  height: 250px;
  transition: 0.2s ease-in;
  border-radius: 10px;
}

.song-details img:hover{
  transform: scale(1.1);
  transition: 0.3s ease-out;
  /* padding-bottom: 1rem; */
}

.song-details li:hover{
  text-decoration: underline;
  color: blue;
  font-weight: 600;
}

.song-details li{
  margin-top: 1rem ;

}

.song-details p{
  margin: 0;
  font-size: 0.8rem;
}

.song-details p:hover{
  text-decoration: underline;
  color: blue;
  font-weight: bold;
}

/* media queries */

@media (max-width:426px){

  .App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  .singer-name{
    width: max-content;
    margin: 0.5rem 0;
  }

  .heading{
    font-size: 1.4rem;
  }

  .info{
    font-size: 1rem;
    width: 50%;
  }

  main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .song-container{
    flex-direction: column;
  }

}
